In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from SVM import SVM
from sklearn.svm import SVC

In [2]:
bank = pd.read_csv('bank.csv',sep=';')
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [3]:
col = ['job','marital','education','default','housing','loan','contact','month','poutcome','y']
for c in col:
    label_encoder = LabelEncoder()
    label_encoder.fit(bank[c])
    bank[c] = label_encoder.transform(bank[c])
bank.head()
labels = bank.y
del bank['y']

In [4]:
clf = SVC(kernel = 'rbf',gamma = 0.01)
X_train,X_test,y_train,y_test = train_test_split(bank,labels,test_size = 0.33)

In [5]:
print(type(X_train))
clf.fit(X_train,y_train)
pred = clf.predict(X_test)
print(accuracy_score(y_test,pred)*100,"%")
X_train = X_train.as_matrix()
X_test = X_test.as_matrix()
y_train = y_train.as_matrix()
y_test = y_test.as_matrix()

<class 'pandas.core.frame.DataFrame'>
88.06970509383379 %

In [9]:
my_clf = SVM(kernel = 'rbf',gamma = 0.001)
my_clf.fit(X_train,y_train)
my_pred = my_clf.predict(X_train)
print(accuracy_score(y_train,my_pred)*100,"%")

4.060746120831958 %